body{
    background: linear-gradient(90deg,#d4f5a8  0%, rgb(196, 233, 168) 50%,#d4f5a8 );
    /*background-color: #539597;
    background: rgb(234, 234, 245);
    background: linear-gradient(135deg, #c9e7ff, rgba(40,167,69,0.188235));*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
    margin-left: 0;
}
  
body::-webkit-scrollbar-track {
    background: rgba(255, 165, 0, 0);        /* couleur de fond */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(28, 97, 9, 0.7);     /* couleur de la barre */
    /*background-color: rgba(246, 235, 251, 0.7);      couleur de la barre */
}


table,div,td,th,p{
    color: white;
}

.navbar {
    position: relative;
    background-color: rgb(79, 209, 92);
    /*background-color: #1d5c5e;*/
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
}

.container_liste {
    position: relative;
    padding: 18px;
    height:  calc( 100vh - 110px );
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Lucida Console", "Courier New", monospace;
}

body>*::-webkit-scrollbar {
    width: 12px;
    margin-left: 0;
}
  
body>*::-webkit-scrollbar-track {
    background: rgba(245, 163, 11, 0);        /* couleur de fond */
}
  
body>*::-webkit-scrollbar-thumb {
    background-color: rgba(92, 75, 99, 0.7);     /* couleur de la barre */
    border-radius: 50px; 
}

table{
    border-collapse: collapse;
}

td,th{
    text-align: center;
}

th{
    font-size: large;
    padding: 5px;
    border-left: #0c0d0d solid 1px;
    border-right: #0c0d0d solid 1px;
}
td{ 
    height: 50px;
    padding: 10px;
}

tr:hover{
    background-color: rgb(94, 187, 94);
    /*background-color:red;*/
}


/*changement des couleurs des lignes de la liste des prospects*/
.ligne1{
    background-color: rgb(151, 212, 148);
    /*background-color: rgb(38, 38, 79);*/
}

.encours{
    padding: 4px;
    background-color: rgb(255, 223, 186);
    border-radius: 20px;
    color: rgb(214, 114, 0);
}
.client{
    padding: 5px;
    padding-bottom: 6px;
    background-color: rgb(186, 255, 201);
    border-radius: 20px;
    color: green;
}
.termine{
    padding: 5px;
    padding-bottom: 7px;
    background-color: rgb(186, 225, 255);
    border-radius: 20px;
    color: blue;
}

/*bouttons de la liste des prospects*/
.button {
    align-items: center;
    background-clip: padding-box;
    background-color: initial;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 14px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 50px;
    outline: none;
    overflow: visible;
    padding: 16px 23px;
    pointer-events: auto;
    Text-Decoration: None !important; 
    position: relative;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
    -webkit-transition: color 1s;
    transition: color 1s;
}
.button:hover{
    color: rgb(217, 161, 250);
}

@media (min-width: 768px) {
    .button {
        padding: 19px 32px;
    }
}

.button:before,
.button:after {
    border-radius: 80px;
}

.button:before {
    background-image: linear-gradient(92.83deg, #09ff09 0, #06d433 100%);
    /*background-image: linear-gradient(92.83deg, #5500b6 0, #44015f 100%);*/
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button:after {
    background-color: initial;
    background-image: linear-gradient(#069b01 0, #0c0d0d 100%);
    /*background-image: linear-gradient(#3e0f54 0, #0c0d0d 100%);*/
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, #3ff156 0%, #0b882a 100%);
    /*background: linear-gradient(92.83deg, #5500b6 0%, #44015f 100%);*/
}

.button:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}

.button:active:not(:disabled) {
  color: #ccc;
}

.button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #5500b6 0, #44015f 100%);
}

.button:active:not(:disabled):after {
  background-image: linear-gradient(#ddd5e6 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}


/*login*/
.login{
	width: 350px;
	height: 500px;
	margin-top: 10vh;
	background-color: rgba(232, 217, 238, 0.1);
    border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    padding-top: 100px;
}
.login h1{
    font: 50px;
}

.connexion {
    background: #c5c5e3;
    color: white;
    border-radius: 20px;
    border-style: outset;
    border-color: #26264f;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    }


.connexion:hover {
    border: 1px solid #340947;
    box-shadow: 4px 4px 4px #340947;
    
    text-shadow: none;
}


.deconnexion{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ca0000 0, #790000 100%);
    border-radius: 5px;
    Text-Decoration: None !important; 
    -webkit-transition: color 1s;
    transition: color 1s;
    box-shadow: 0px 0px 5px 6px rgba(173, 0, 0, 0.69) ;
    margin-top: 5px;

}
.deconnexion:hover{
    color: rgb(253, 87, 87);
}

.detail div{
    display: flex;
    justify-content: space-between;
}

.recherche{
    margin: 8px;
}

.creerad{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #006b79 0, #00c3ca 100%);
    border-radius: 5px;
    Text-Decoration: None !important; 
    -webkit-transition: color 1s;
    transition: color 1s;
    box-shadow: 0px 0px 5px 6px rgba(0, 173, 164, 0.69) ;
    margin-top: 5px;
    margin-right: 10px;
}
.creerad:hover{
    color: rgb(87, 214, 253);
}